<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="LunchCheck">
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <title>Assignment 1</title>
    <link rel="stylesheet" href="style.css">
    <script src="app.js"> </script>
  </head>
  <body ng-controller="LunchCheckController">
    <div >
      <div >
        <p >List out items to eat and separate them with comma</p>
      </div>
      <div >
        Enter Items :- <input ng-model=name > , , null items are not accepted 
      </div>
      <div >
        <h3>{{error}}</h3>
      </div>
      <div >
        <button type="submit" ng-click="checking();">Check If Too Much</button>
      </div>
      <div >
        <h3>{{result}}</h3>
      </div>
    </div>
  </body>
</html>
